#main-form
{
  
   height: 600px;
   width: 350px; 
   background-color: white;
   border: 1px solid grey;
   border-radius: 5px;

  
}

#logo {

  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
  h1{
    margin: 0px;
    padding: 5px;
  }


body{
    background-color: white;
    display: flex;
    justify-content: center;
}

.para1{
    margin-left: 50px;
    height: 20px;
    width:280px;
    display: flex;
    justify-content: center;
    font-size:large;
    padding-top: 0px;
    font-weight: bold;
  

  }
.para2{
  margin-left: 120px;
  font-size: 10px solid black;
  font-size: large;
  font-weight: bold;
}

.bluebox{
  height: 30px;
  width:240px;
  border: 0;
  border-radius: 10px;
  background-color: blue;
  margin-left: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.fb{
  padding:5px;
  display: flex;
  justify-content: center;
  color: white;
  margin-left: 8px ;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;

}
.whitebox{
  height: 25px;
  width: 25px;
  background-color: white;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.border{
  margin-top: 10px;
  border: 1px solid grey;
 
}
small{
  display: flex;
  justify-content: center;
}
.details{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;

}

.email,.fname,.uname{
  width: 100%;
  padding: 10px;
  margin: 5px 30px;
  background-color: rgb(248, 245, 245);
  border-radius: 5px;
  
  }


.pwd{
  width: 100%;
  padding: 10px;
  margin: 5px 30px;
  background-color: rgb(248, 245, 245);
  border-radius: 5px;
  
}
.paragraph1{
  margin:0px 40px;
}

button{
  height: 35px;
  width:240px;
  border: 0;
  border-radius: 10px;
  background-color: blue;
  margin-left: 50px;
  padding: 5px;
  font-size: 15px;
  font-weight:300;
  color: white;
  padding:5px;

}
.signupbtn{
  padding-top: 10px;
}


